/#*#
/.#*
/.build
/.tidyall.d
/Build
/Debian_CPANTS.txt*
/MANIFEST
/META.yml
/MYMETA.yml
/Makefile
/Makefile.PL
/Makefile.PL
/Makefile.old
/MooseX-ClassAttribute*
/README
/_build
/blib*
/cover_db*
/pm_to_blib*
